@import url("https://fonts.googleapis.com/css2?family=Rancho&family=Righteous&display=swap");
#botonera {
  background-color: #FCD7FA; }
  #botonera ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #601297;
    font-family: "Rancho", cursive;
    font-weight: 600; }
    #botonera ul li a:hover {
      background-color: #8114A5;
      color: #F9F4FA;
      cursor: pointer; }